RewriteEngine On

# Map http://www.tinymediamanager.org to /site.
RewriteRule ^$ /site/ [L]

# Map http://www.tinymediamanager.org/x to /site/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/site/
RewriteRule ^(.*)$ /site/$1

# Add trailing slash to directories within /site
# This does not expose the internal URL.
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^site/(.*[^/])$ http://www.tinymediamanager.org/$1/ [R=301]
